.hero {
    background-color: brown;
    border: 1px solid beige;
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    margin-top: 100px;
    justify-content: space-evenly;
    height: min-content;
    border-radius: 3px;
    transition: 1s all;
    position: relative;
    min-width: 800px;
    box-sizing: border-box;
}

.hero:hover {
    background-color: beige;
    border: 1px solid brown;
    color: #707070;
    cursor: pointer;
    user-select: none;
}

.hero h1 {
    line-height: 4rem;
    text-transform: uppercase;
}

.hero p {
    line-height: 2rem;
}

.heroFoodClipart {
    max-width: 200px;
    position: absolute;
    top: -25%;
    right: -15%;
}

@media screen and (max-width: 768px) {
    .hero {
        text-align: center;
    }
    .heroFoodClipart {
        right: 0;
        top: -12.5%;
    }
}