.button {
    color: white;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid beige;
    transition: 1s all;
    background-color: brown;
}

.button:hover:not(.button:disabled) {
    border: 1px solid brown;
    background-color: beige;
    color: #707070;
    cursor: pointer;
}