.navigationWrapper {
    background-color: brown;
}

.navigation {
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
}

.logo {
    user-select: none;
    cursor: pointer;
    transition: 1s all;
}

.logo:hover {
    opacity: 0.9;
}

.logo img {
    max-width: 100px;
}

.navLinks {
    display: flex;
    justify-content: center;
}

.navLink {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 5px 2.5px;
    box-sizing: border-box;
    transition: 1s all;
    user-select: none;
}

.navLink:hover {
    cursor: pointer;
    color: #707070;
    background-color: beige;
}

.navLink a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .navigation {
        justify-content: center;
    }
}