.navigationWrapper {
    background-color: maroon;
}

.navigation {
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
}

.logo img {
    max-width: 100px;
}

.navLink {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 5px 5px;
    box-sizing: border-box;
}

.navLink a {
    text-decoration: none;
    color: inherit;
}